html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-9deg);
  transform-origin: left center;
  left: 45px;
  top: 88px;
}

p {
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left center;
  max-width: 19em;
  top: 185px;
  left: 57px;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  border-radius: 6px;
  top: 322px;
  left: 57px;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #b3fbff;
  border: 3px solid #990073;
}

.content {
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
  max-height: 500px;
  background-image: repeating-linear-gradient(-35deg, #d4fdff, #c9fcff, #c9fcff 15px, #b3fbff 10px, #b3fbff 10px);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
  animation: 1s linear 1;
  transition: all 3s linear 5s;
}

.mint-chip {
  animation: drop 1s linear 1 forwards;
  top: 250px;
  left:
  z-index: 3;
}

.chocolate-chip {
  animation: drop 1s linear 1 forwards;
  top: 150px;
  left:
  z-index: 4;
}

.vanilla-fudge {
  animation: drop 1s linear 1 forwards;
  top: 100px;
  left:
  z-index: 5;
}

.cherry {
  animation: drop 1s linear 1 forwards;
  top: 50px;
  left:
  z-index: 6;
}

.cone {
  animation: drop 1s linear 1 forwards;
  top: 350px;
  left:
  z-index: 1000;
}

@keyframes drop {

  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes blur {

  0% {
    filter: blur(0);
    filter: opacity(0);
  }

  50% {
    filter: blur(10px);
    filter: opacity(25%);
  }

  100% {
    filter: blur(0);
    filter: opacity(100%);
  }

}
