
.content {
  background-image: repeating-linear-gradient(-33deg, #c9fcff 0%, #c9fcff 1%, #d4fdff 1.1%, #d4fdff 2%, #c9fcff 2.1%);
  border-top: 6px solid #b3fbff;
  border-bottom: 6px solid #b3fbff;
}

.banner-content {
  font-family: "Fredoka One", sans-serif;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
}

h1 {
  color: #990073;
  transform: rotate(-9deg);
  left: 45px;
  top: 88px;
  animation: text-appears 2s linear;
}

p {
  color: #c09;
  transform: rotate(-5deg);
  max-width: 19em;
  top: 185px;
  left: 57px;
  animation: text-appears 2s linear;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  border-radius: 6px;
  top: 322px;
  left: 57px;
  animation: text-appears 2s linear;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #b3fbff;
  border: 3px solid #990073;
}

.cherry {
  animation: drop 1.5s linear 1 forwards;
  top: 45px;
  left: 745px;
  max-width: 100px;
  z-index: 5;
}

.vanilla-fudge {
  animation: drop 1.2s linear 1 forwards;
  top: 90px;
  left: 725px;
  max-width: 140px;
  z-index: 4;
  transform: skewX(1deg);
  transform: skewY(50deg);
}

.chocolate-chip {
  animation: drop 1s linear 1 forwards;
  top: 150px;
  left: 725px;
  max-width: 140px;
  z-index: 3;
}

.mint-chip {
  animation: drop .75s linear 1 forwards;
  top: 200px;
  left: 730px;
  max-width: 140px;
  z-index: 2;
}

.cone {
  animation: drop .5s linear 1 forwards;
  top: 285px;
  left: 737px;
  max-width: 125px;
  z-index: 1000;
}

@keyframes drop {

  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }

}

@keyframes text-appears {

  0% {
    filter: blur(10px);
    filter: opacity(0);
  }

  100% {
    filter: blur(0);
    filter: opacity(100%);
  }

}
