html {
  font-family: 'Fredoka One', cursive;
}

h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  border-radius: 6px;
}

.btn-ghost:hover {
color: #c09;
background-color: #b3fbff;
border: 3px solid #990073;
}

.content {
border-top: 8px solid #b3fbff;
border-bottom: 8px solid #b3fbff;
max-height: 500px;
background-image: repeating-linear-gradient(-35deg, #d4fdff, #c9fcff, #c9fcff 15px, #b3fbff 10px, #b3fbff 10px);
text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
animation: blur 1s linear 1;
transition: all 3s linear 5s;

}
